.center {
  padding-top: 9em;
  
}

:host ::ng-deep .p-table {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
}

:host ::ng-deep .p-table th {
  background-color: #f4f4f4;
  font-weight: bold;
 
}

:host ::ng-deep .p-table td {
  padding: 0.3rem 0.3rem;
  
}

th{
 
  background-color: antiquewhite !important;
  border: 1px solid #ffffff !important;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
padding: 0rem 0rem 0rem 0.5rem !important;
}

:host ::ng-deep .visible-dialog .p-dialog-header{
  background-color: #BACFE0;
  padding: 7px !important;
}
:host ::ng-deep .visible-dialog .p-dialog-content{
  background-color: #E9F0F6;
}
:host ::ng-deep .visible-dialog .p-dialog-footer{
  background-color: #a2c5e5;
}


.popup-button {
  background-color: antiquewhite !important;
  color: black !important;
  border: 1px solid #737373;
  box-shadow: none;
  padding: 2px 10px;
}

.custom-button {
  background-color: antiquewhite !important; /* Ensure it overrides default styles */
  color: black !important; /* Ensures the text color is black */
  border: 1px solid #737373; /* Custom border color */
  box-shadow: none; /* Remove any shadow if present */
  padding: 5px 10px;
}


:host ::ng-deep .p-dropdown .p-hidden-accessible .p-dropdown-label .p-inputtext .p-placeholder {
  padding: 0 !important;
}

.p-field {
  margin-bottom: 1px !important
}



th{
white-space: normal;
}


:host ::ng-deep .custom-dialog .p-dialog {
top: 600px !important;
}



.company-table {
  border: 1px solid #dcdcdc; border-radius: 8px; overflow: hidden;
  width: 68%;
  display: flex;
}


.company-table th {
  background-color: antiquewhite; /* Light gray header */
  color: #333; /* Dark text */
  font-size: 14px;
  padding: 10px;
  text-align: left;
}

.company-table td {
  font-size: 12px; /* Smaller font size */
  padding: 8px;
  text-align: left;
}

.company-table .actions-cell {
  text-align: center;
}

