<p-dialog [modal]="true" [(visible)]="showDialog" [closable]="false" [style]="{ width: '50vw' }">
    <br />

    <div class="p-grid">
        <div class="p-col-5" style="padding: 0rem 0rem 0rem 0.5rem;">
            <div class="p-field">
                <label style="display: inline-block; width: 30%;">Search</label>
                <input type="text" pInputText style="background-color: #ffffff; width: 70%; height: 2vh;"
                    placeholder="Search..." [(ngModel)]="searchString" />
            </div>
        </div>
        <div class="p-col-3" style="padding: 0rem 0rem 0rem 0.5rem;"></div>

        <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
            <div class="p-grid" style="display: flex; gap: 10px;">
                <button pButton label="Refresh" class="custom-button"></button>
                <button pButton label="Ok" class="custom-button"></button>
                <button pButton label="Cancel" (click)="closeDialog()" class="custom-button"></button>
            </div>
        </div>
    </div>

    <div class="p-grid" style="background-color: #d1e2f1;">
        <div class="p-col-12" style="border: 1px solid #003366; border-radius: 5px;">
            <h6 style="
            background-color: #5c96d4;
            color: white;
            height: 4vh;
            align-items: center;
            display: flex;
            padding-left: 8px;
          ">
                {{ popUpData?.name }}
            </h6>

            <p-table [value]="filteredTableData" [paginator]="true" [rows]="10">
                <ng-template pTemplate="header">
                    <tr>
                        <th *ngFor="let col of popUpData.columns" [ngStyle]="{ width: col?.width || 'auto' }">
                            {{ col.header }}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr (click)="chooseLookup(rowData)" style="cursor: pointer;">
                        <td *ngFor="let col of popUpData.columns">{{ rowData[col.field] }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-dialog>

