<div class="p-grid">
    <div class="p-col-12 p-lg-12">
        <form-aligner [columnMetaData]="columnMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="defaultAccMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="detailMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="refDocMetaData" [selectedRow]="mainService.header">
        </form-aligner>

    </div>
</div>