
    <div
        style="border: 1px solid #b7dbff; padding: 15px; border-radius: 5px; background-color: #d1e2f1; font-size: 10px;">


        <br>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Number</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff !important; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">Bank LC Amount</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff !important; width: 30%; height: 2vh;">
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC PO Number</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC PO Value</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 30%; height: 2vh;">
                </div>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Currency Code</label>
                    <input type="text" pInputText
                        style="background-color: antiquewhite !important; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Currency Name</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff !important; width: 55%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Currency Convertion
                        Rate</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff !important; width: 30%; height: 2vh;">
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Issuing Bank
                        Code</label>
                    <input type="text" pInputText
                        style="background-color: antiquewhite; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Issuing Bank
                        Name</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 55%; height: 2vh;">
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Advising Bank
                        Code</label>
                    <input type="text" pInputText
                        style="background-color: antiquewhite; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Advising Bank
                        Name</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 55%; height: 2vh;">
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Negotiating Bank
                        Code</label>
                    <input type="text" pInputText
                        style="background-color: antiquewhite; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Negotiating Bank
                        Name</label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 55%; height: 2vh;">
                </div>
            </div>
        </div>

        <div class="p-grid">
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Receiving Bank Code
                    </label>
                    <input type="text" pInputText
                        style="background-color: antiquewhite; width: 30%; height: 2vh;">
                </div>
            </div>
            <div class="p-col-4" style="padding: 0rem 0rem 0rem 0.5rem;">
                <div class="p-field">
                    <label style="display: inline-block; width: 40%;">LC Receiving Bank Name
                    </label>
                    <input type="text" pInputText
                        style="background-color: #ffffff; width: 55%; height: 2vh;">
                </div>
            </div>
        </div>

    </div>

    <br>

    <div style="margin-top: 20px; min-height: 40vh;">
        <div> <button pButton label="Load Items" class="custom-button"></button></div>
        <br>
        <p-scrollPanel style="height: 400px;">
            <p-table [value]="products" [scrollable]="true" scrollHeight="270px"
                scrollWidth="100%" [resizableColumns]="true" [responsive]="true"
                [reorderableColumns]="true" class="ProductInfoTable">
                <ng-template pTemplate="header">
                    <tr>
                        <ng-container *ngFor="let col of LcDetailTable">
                            <th *ngIf="!col.hide" [ngStyle]="{'width':col.width}">
                                <span>{{col.header}}</span>
                            </th>
                        </ng-container>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product>
                    <tr>
                        <ng-container *ngFor="let col of LcDetailTable">
                            <td pEditableColumn style="padding: 0.5rem 0.5rem;"
                                *ngIf="!col.hide" [ngStyle]="{'width':col.width}">

                                <input pInputText type="text" style="padding: 0;"
                                    [ngClass]="{'manual-column': col.manual}"
                                    [style]="{'width':'100%'}" [(ngModel)]="col.data"
                                    (click)="toggle(0)">

                            </td>
                        </ng-container>
                    </tr>
                </ng-template>

            </p-table>
        </p-scrollPanel>

    </div>



