:host ::ng-deep .ui-widget-overlay {
    opacity: 1;
    background-color: inherit;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background-color: #3f51b5de;
    width: 68vw;
}
:host ::ng-deep .p-datatable-wrapper.ng-star-inserted {
    height: 10em;
    overflow-x: inherit;
    width: 139em;
    overflow-y: auto;
}

.editable{
    background-color: rgb(149, 236, 149);
}
.noneditable{
    background-color:rgb(241, 122, 122);
}