:host ::ng-deep .md-inputfield > label{
    color: #3F51B5;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

@media screen and (max-width: 64em) {
    :host ::ng-deep .ui-table .ui-table-thead > tr > th {
        top: 100px;
    }
}

:host ::ng-deep .ui-tabview .ui-tabview-panel{
    height: 42em;
    overflow-y:scroll;
}
 

:host ::ng-deep .ui-table-scrollable-body{
    height:100em;
}
