<div class="p-grid">
    <div class="p-col-12 p-lg-12">
        <form-aligner [columnMetaData]="columnMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="chequeMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="printFooterMeataData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="listMetaData" [selectedRow]="mainService.header">
        </form-aligner>
        <form-aligner [columnMetaData]="registerMetaData" [selectedRow]="mainService.header">
        </form-aligner>

    </div>
</div>