.center {
    padding-top: 9em;
    
  }
  
  :host ::ng-deep .p-table {
    font-family: Arial, sans-serif;
    border: 1px solid #ddd;
  }
  
  :host ::ng-deep .p-table th {
    background-color: #f4f4f4;
    font-weight: bold;
   
  }
  
  :host ::ng-deep .p-table td {
    padding: 0.3rem 0.3rem;
    
  }
  
  th{
   
    background-color: antiquewhite !important;
    border: 1px solid #ffffff !important;
  }
  
  
  :host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0rem 0rem 0rem 0.5rem !important;
  }
  
  :host ::ng-deep .visible-dialog .p-dialog-header{
    background-color: #BACFE0;
    padding: 7px !important;
  }
  :host ::ng-deep .visible-dialog .p-dialog-content{
    background-color: #E9F0F6;
  }
  :host ::ng-deep .visible-dialog .p-dialog-footer{
    background-color: #a2c5e5;
  }
  
  .manual-column {
    background-color: #c0d6e9;
  }
  
  :host ::ng-deep .p-dropdown .p-hidden-accessible .p-dropdown-label .p-inputtext .p-placeholder {
    padding: 0 !important;
  }
  
  th{
  white-space: normal;
  }
  
  .journal-table {
  display: flex;
  background-color: #d1e2f1; 
  
  }
  
  :host ::ng-deep .custom-dialog .p-dialog {
  top: 600px !important;
  }

  .custom-button {
    background-color: antiquewhite !important; /* Ensure it overrides default styles */
    color: black !important; /* Ensures the text color is black */
    border: 1px solid #737373; /* Custom border color */
    box-shadow: none; /* Remove any shadow if present */
    padding: 5px 10px;
}