:host ::ng-deep .p-p-3 {
    padding: 0rem !important;
}


.company-table {
    border: 1px solid #dcdcdc; border-radius: 8px; overflow: hidden;
}


.company-table th {
    background-color: antiquewhite; /* Light gray header */
    color: #333; /* Dark text */
    font-size: 14px;
    padding: 10px;
    text-align: left;
}

.company-table td {
    font-size: 12px; /* Smaller font size */
    padding: 8px;
    text-align: left;
}

.company-table .actions-cell {
    text-align: center;
}


.small-button {
    font-size: 12px; /* Smaller font size */
    padding: 4px 8px; /* Compact padding */
    background-color: antiquewhite; /* PrimeNG's default primary color */
    color: black !important;
     border: 1px solid #737373;
    border-radius: 4px; /* Slightly rounded corners */
    height: auto; /* Adjust height */
    width: auto; /* Adjust width */
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}

.small-button:hover {
    background-color: rgb(232, 220, 204); /* Darker blue for hover */
}

.small-button:disabled {
    background-color: #d3d3d3; /* Light gray for disabled state */
    cursor: not-allowed; /* Disable pointer cursor */
}


.close-button {
    position: absolute;
    // top: 10px;
    // right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #555;
}

.close-button:hover {
    color: #003366;
}




